/* Colore di sfondo della pagina */
.dark-brown-bg {
    background-color: #2b2b2b;
    color: #ffffff;
}

/* Colore marrone scuro per gli elementi di intestazione e piè di pagina */
.header, .footer {
    background-color: #3c3c3c;
}

/* Colore bianco per il testo delle intestazioni */
.header h1, .header p, .footer p {
    color: #ffffff;
}

/* Stile dei link sui social */
.social-links .btn {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
}

/* Stile del testo per le informazioni personali */
.container h2 {
    color: #ffffff;
}