/* Colore di sfondo della pagina */
body {
	background-color: #2b2b2b;
	color: #ffffff;
}
/* Stile del link di ritorno */
.back-link {
	color: #ffffff;
	display: inline-block; /* Rende il link un elemento inline-block */
}
/* Aggiusta lo spazio tra icona e testo */
.back-link .fas {
	margin-right: 5px;
}
/* Stile per giustificare il testo Hobby */
.header .display-4 {
	text-align: center;
}
.header, .footer {
    background-color: #3c3c3c;
}

/* Colore bianco per il testo delle intestazioni */
.header h1, .header p, .footer p {
    color: #ffffff;
}

/* Stile dei link sui social */
.home-links .btn {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
}
